* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a5464; /* soft brown background like image */
}

/* Calculator body */
.calculator {
    width: 300px;
    background: #867f84; /* olive / beige body */
    border-radius: 10px;
    padding: 14px;
    border: 3px solid #5e4a4a;
}

/* Display */
#display {
    width: 100%;
    height: 70px;
    font-size: 26px;
    text-align: right;
    padding: 10px;
    border: 2px solid #5e4a4a;
    background: #ffffff;
    margin-bottom: 15px;
}

/* Button grid */
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* All buttons */
button {
    height: 55px;
    font-size: 20px;
    border: 1px solid #8a7d7d;
    background: #d6cccc; /* light beige buttons */
    cursor: pointer;
}

/* Hover */
button:hover {
    background: #353232;
}

/* Operators */
.op {
    background: #9a8f8f;
    color: #000;
}

/* Clear */
.clear {
    background: #8e8e8e;
}

/* Equal */
.equal {
    background: #968b8b;
    font-size: 22px;
}

/* Zero button */
.zero {
    grid-column: span 4;
    height: 60px;
}
